@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #05546f;
    --primary-color-darker: #044256;
    --positive-color: #3cd61d;
    --negative-color: #d61d1d;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size:1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
}

.tabela {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 0.1em;
}

form input, form label, form button {
    display: block;
    width:100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

form input {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color)
}

form button {
    border: none;
    background: var(--primary-color);
    color:#fff;
    font-size: 18px;
    font-weight:700;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background-color: var(--positive-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.bad {
    background-color: var(--negative-color);
}